@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Source+Sans+3:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-flipper {
    background: transparent;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.span-color {
    font-size: 5rem;
}

@media only screen and (max-width: 780px) {
    body {
        min-width: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .text {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        min-width: auto;
        font-size: 1.2rem;
    }
}
  
